fastapi
uvicorn
sqlalchemy
psycopg2-binary
pydantic
python-multipart
qrcode[pil]
python-dotenv
# ultralytics removed to reduce RAM footprint on Render free tier

opencv-python-headless
insightface
onnxruntime
numpy
